/*GENERAL STYLES*/

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1, h2, p, a {
  text-align: center;
}

/*NAVIGATION BAR STYLES*/

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #F39C12;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px #000;
}

#navbar ul {
  list-style: none;
  display: flex;
  margin-right: 4vw;
}

#navbar li {
  display: list-item;
}

#navbar a {
  padding: 1vw;
  margin: 1vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 60px;
}

#navbar a:hover {
  background-color: #9c650b;
}

/*WELCOME SECTION STYLES*/

#welcome-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(100deg, #0E6655 0%, #138D75 100%);
  align-items: center;
  justify-content: center;
}

#welcome-section h1 {
  font-size: 3em;
}

#welcome-section p {
  font-size: 1.8em;
}

/*PROJECTS SECTION*/

#projects {
  background: linear-gradient(62deg, #3a3d40 0%, #3a3d40 50%, #4f555b 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0;
}

#projects h2 {
  font-size: 2em;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
}

.project-tile {
  border: 2px #000 solid;
  background-color: #4c4f52;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  border-radius: 10px;
}

.project-tile img {
  width: 80%;
  height: 240px;
  object-fit: cover;
  margin: 15px;
  border-radius: 10px;
}

.project-tile p {
  font-weight: bold;
  margin-top: 10px;
}

.decoration {
  color: #4c4f52;
}

.project-tile:hover {
  box-shadow: 0 0 20px #000;
}

.project-tile:hover .decoration {
  color: #F39C12;
}

.soon {
  justify-content: center;
  font-size: 1.8em;
}

.soon:hover {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: white;
}

/*CONTACT AND SOCIAL MEDIA INFORMATION*/

#contact {
  height: 65vh;
  background: linear-gradient(100deg, #0E6655 0%, #138D75 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}

#contact h2 {
  font-size: 2.2em;
  font-weight: lighter;
  margin-bottom: 1.5em;
}

.links {
  display: flex;
  font-size: 1.7em;
}

.links a {
  margin: 0 2rem;
}

.links a:hover {
  transform: scale(1.4, 1.4);
  color: #F39C12;
}

.line {
  width: 55%;
  border-bottom: 4px #F39C12 solid;
  margin: 3rem 0;
}

footer {
  height: 15vh;
  background: linear-gradient(100deg, #0E6655 0%, #138D75 100%);
  border-top: 3px #F39C12 solid;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.2em;
}

footer i {
  margin: 0 1rem;
}

footer p {
  margin-right: 3rem;
  
}

/*MEDIA QUERY*/

@media only screen and (max-width: 1180px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .project-grid {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .links {
    flex-direction: column;
  }

  .links a {
    margin: 10px 0;
  }
}